body{
    background-color: #80ca6e;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    margin: 0;
}
.contenedor{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu{
    background-color: #5ea342;
    padding: 15px;
}
.menu ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    gap: 30px;
}
.menu a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.menu a:hover{
    color: #c7ffb7;
}
article{
    background-color: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba (0, 0, 0, 0.15);
    transition: 0.3s;
}
article:hover{
    transform: translate(-5px);
}
.boton-arriba{
    display: block;
    width: 200px;
    margin: 40px auto;
    text-align: center;
    background-color: #5ea342;
    color: white;
    text-decoration: none;
    padding: 15px;
    border-radius: 12px;
    transition: 0.3s;
}
.boton-arriba:hover{
    background-color: #4a8a35;
    transform: scale(1.05);
}

#consejo-aleatorio{
    text-align:center;
    margin:40px 0;
}

#btnConsejo{
    background-color: #4a8a35;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}

#btnConsejo:hover{
    background-color: #80ca6e;
}

#textoConsejo{
    margin-top: 20px;
    font-weight: bold;
}